node_modules/
.DS_Store
*.log
__pycache__/
*.pyc
.env
*.db
venv/
.idea/
.vscode/
*.pyo

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab